@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #09090b;
}

@keyframes flow-dot {
  0% {
    left: 0%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

.flow-dot {
  animation: flow-dot 1.5s linear infinite;
}
